.actor-details {
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
  gap: 1.5rem;
  padding: 2rem 0;
}

@media (max-width: 780px) {
  .actor-details {
    grid-template-columns: 1fr;
  }
}
.text {
  display: inline;
  width: 100%;
}

.read-or-hide {
  cursor: pointer;
  font-weight: bolder;
}
