.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background-color: #202328;
  color: #ccc;
}

.header a {
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

.nav__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  color: inherit;
  font-size: 0.8rem;
  text-decoration: none;
}

.nav__item:hover {
  color: rgb(0, 131, 202);
}

.nav__link {
  transition: all 0.4s ease-in-out;
}

/* nav svg's styles on hover */
svg rect,
path {
  transition: all 0.3s ease-in-out;
}

.svg-icon--tv {
  height: 24px;
}

.nav__item:hover .svg-icon--tv rect,
.nav__item:hover .svg-icon--series rect,
.nav__item:hover .svg-icon--cinemania rect {
  stroke: #0083ca;
}

.nav__item:hover .svg-icon--tv path,
.nav__item:hover .svg-icon--series path,
.nav__item:hover .svg-icon--cinemania path {
  fill: rgb(0, 131, 202);
}

.nav__item:hover .svg-icon--movies path,
.nav__item:hover .svg-icon--movies rect {
  fill: rgb(0, 131, 202);
}
.nav__item:hover .svg-icon--kids path {
  stroke: rgb(0, 131, 202);
}

.mode {
  cursor: pointer;
}
