.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.site-header {
  background-color: #000000;
  color: #ccc;
}

.site-header button {
  border: 0px;
  outline: none;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

.nav__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.nav__item button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  color: inherit;
  font-size: 0.8rem;
}

.mode {
  color: rgb(255, 255, 255);
}
