.responsive {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 2rem 0;
}

.btn-load {
  display: inline-block;
  padding: 1rem 2.3rem;
  border-radius: 5px;
  border: 3px solid rgb(46, 45, 45);
  outline: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
}
