.movie-details {
  flex-grow: 1;
}
.movie-details__card {
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media(max-width: 710px) {
  .movie-details__card {
    display: flex;
    flex-direction: column;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.movie-details__card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-content__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.genre {
  display: inline-block;

  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.25rem 0.75rem;
  border: 3px solid rgb(46, 45, 45);
  border-radius: 1rem;
  color: inherit;
}

.overview {
  max-width: 68ch;
}

.btn-back {
  padding: 5px 15px;
  color: inherit;
  border: 3px solid rgb(46, 45, 45);
  border-radius: 4px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}


/* video styles */
@media(max-width: 710px) {
  iframe {
    width: 100%;
  }
}

/*  */
.imbd-score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 68px;
  border: 5px solid green;
  border-radius: 50%;
}

.imbd-score strong {
  font-size: 1.3rem;
}

.card-content__info h3 {
  font-size: 1.3rem;
}

.card-content__crew {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 68ch;
}

.character {
  font-size: 0.9rem;
}

/* actors panel */

.actors-panel {
  padding: 1.5rem 0;
}

.actors-panel-list {
  display: flex;
  gap: 1rem;
  padding: 1.5rem;
  overflow-x: scroll;
}

/* style scrollbar */
.actors-panel-list::-webkit-scrollbar {
  width: 0.5em;
}

.actors-panel-list::-webkit-scrollbar-track {
  background-color: inherit;
}

.actors-panel-list::-webkit-scrollbar-thumb {
  background-color: rgb(116, 116, 116);
  border-radius: 10px;
}

.actors-panel-list > * {
  flex-shrink: 0;
}

.actors-panel-title {
  font-size: 1.4rem;
}

.actor {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  border-radius: 8px;
  border: 1px solid rgb(227, 227, 227);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  overflow: hidden;
}