.movie-details {
  flex-grow: 1;
}
.movie-details__card {
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media(max-width: 710px) {
  .movie-details__card {
    display: flex;
    flex-direction: column;
  }
}

.movie-details__card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-content__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.genre {
  display: inline-block;

  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.25rem 0.75rem;
  border: 3px solid rgb(46, 45, 45);
  border-radius: 1rem;
  color: inherit;
}

.overview {
  max-width: 65ch;
  font-size: 1.2rem;
}

.btn-back {
  padding: 5px 15px;
  color: inherit;
  border: 3px solid rgb(46, 45, 45);
  border-radius: 4px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}


/* video styles */
@media(max-width: 710px) {
  iframe {
    width: 100%;
  }
}