.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}
@media (min-width: 980px) {
  .swiper-container.mainSwiper {
    height: 700px;
  }
}
